@page "/markdown"
@page "/markdown/{FileName}"
@page "/markdown/{DirectoryName}/{FileName}"

@inherits MDService

<div class="row">
    @*<div class="col-6">
            <textarea class="form-control"
                      @bind-value="Body"
                      @bind-value:event="oninput">

            </textarea>
        </div>*@

    <div class="col-12">
        @if (ConvertedHtml != null)
        {
            @((MarkupString)ConvertedHtml)
        }
    </div>

</div>

@code{


}