@inherits LayoutComponentBase
@inject FileService fileSvc

<div>
    <MbNavMenu></MbNavMenu>
</div>

@* <div class="main"> *@
<div class="top-row px-4">
    <button @onclick="AddFile"> Add Document </button>
    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
</div>

@* </div> *@
<div class="content px-4">
    @Body
</div>
@code
{
    async Task AddFile()
    {
        //await js.InvokeAsync<object>("alert","AddFile");
        fileSvc.CreateFile();
    }
}